body{
    margin: 0;
}
.slide-container{
    position: relative;
    width: 100%;
}
.slide {
    width: 100%;
}
.img1{
    width: 1263.5px;
    height:550px;
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color: rgba(255, 255, 255, 0.712);
    padding: 8px 19px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
}
.next{
    right: 10px;
}
.prev{
    left: 10px;
}
.caption{
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(53, 47, 47, 0.195);
}
.slide{
    display: none;
}